#main {
  margin: 1em;
  margin-top: 0em;
  height: calc(100vh - 2.3em);
}

#title {
  height: 1.5em;
  font-size: 1.5em;
}

#text {
  height: 100%;
}

#textTop {
  display: flex;
  border-style: double none none none;
  border-width: 0.4em;
  border-color: #A3C7B3;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

#textMiddle {
  display: flex;
  border-style: double none none none;
  border-width: 0.4em;
  border-color: #A3C7B3;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

#textBottom {
  display: flex;
  border-style: double none none none;
  border-width: 0.4em;
  border-color: #A3C7B3;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

.textTitle {
  flex: 1;
  height: calc(33vh - 1.9em);
  overflow: auto;
}

.textContent {
  flex: 7;
  height: calc(33vh - 1.9em);
  overflow: auto;
}